In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pandas_ml_common import pd, np

df1 = pd.DataFrame({"a": np.random.random(10), "b": np.random.random(10)})
df1 = df1.inner_join(df1, prefix_left='A', prefix='B', force_multi_index=True)
df1

          A                   B
          a         b         a         b
0  0.093680  0.567099  0.093680  0.567099
1  0.446229  0.293130  0.446229  0.293130
2  0.025688  0.545552  0.025688  0.545552
3  0.668815  0.310784  0.668815  0.310784
4  0.530610  0.879886  0.530610  0.879886
5  0.293507  0.593842  0.293507  0.593842
6  0.123987  0.299180  0.123987  0.299180
7  0.123895  0.348180  0.123895  0.348180
8  0.230713  0.052849  0.230713  0.052849
9  0.842127  0.464528  0.842127  0.464528

In [3]:
from pandas_ml_common import Sampler, XYWeight, random_splitter

df2 = pd.DataFrame({"c": np.random.random(10)})
sampler = Sampler(XYWeight(df1, df2), splitter=random_splitter(0.5))

for batches in sampler.sample_for_training():
    for batch in batches:
        print(batch)

0
0
0
          A                   B
          a         b         a         b
2  0.025688  0.545552  0.025688  0.545552
9  0.842127  0.464528  0.842127  0.464528
4  0.530610  0.879886  0.530610  0.879886
3  0.668815  0.310784  0.668815  0.310784
6  0.123987  0.299180  0.123987  0.299180
          c
2  0.993148
9  0.744156
4  0.291080
3  0.378954
6  0.203726
None

In [4]:
df3 = pd.DataFrame({"a": [[1, 2], [3, 4], [5, 6]]})
df3.ML.values

array([[1, 2],
       [3, 4],
       [5, 6]])

In [5]:
df4 = pd.DataFrame({"a_22_a": np.random.random(1), "b_21_b": np.random.random(1)})
df4.ML[r'.*\d+_.']

     a_22_a    b_21_b
0  0.567871  0.259282

In [6]:
from pandas_ml_common import call_callable_dynamic_args

def adder(a, b):
    return a + b

call_callable_dynamic_args(adder, a=12, b=10, c=None)

22

In [7]:
from pandas_ml_common import np_nans

np_nans((3, 3))

array([[nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan]])

In [8]:
from pandas_ml_common import temp_seed

with temp_seed(42):
    print(np.random.random(2))

np.random.random(2)

[0.37454012 0.95071431]

array([0.36256627, 0.55505542])

In [9]:
from pandas_ml_common import serializeb, deserializeb

deserializeb(serializeb(np.array([1, 2, 3])))

array([1, 2, 3])

In [10]:
from pandas_ml_common import ReScaler, XYWeight

x = np.arange(0, 1, .1)
rescaler = ReScaler((0, 1), (5, -5))

rescaler(x)

array([ 5.,  4.,  3.,  2.,  1.,  0., -1., -2., -3., -4.])