First we need to import the module

In [10]:
import pandas_quant_data_provider as qd

There are a lot of different ways to fetch data as well as organizing the resulting
`DataFrame`.

### Control which provider plugin is used
In order to find data in a resource like a web API a plugin system is needed. By
default the loader loops through all the plugins loaded and looks if a symbol is
provided by a cetrain plugin. If more then one plugin can provide data for a symbol
a waring is raised and the first provider in the list is used.

In [11]:
qd.fetch("AAPL").tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-15,128.78,130.22,127.00,127.14,111598500.0,0.0,0.0
2021-01-19,127.78,128.71,126.94,127.83,90757300.0,0.0,0.0
2021-01-20,128.66,132.49,128.55,132.03,104319500.0,0.0,0.0
2021-01-21,133.80,139.67,133.59,136.87,120529500.0,0.0,0.0
2021-01-22,136.28,139.85,135.02,139.07,114459360.0,0.0,0.0

In case you want more control over the used provider a `force_provider` parameter
could be passed. Valid arguments are a string or a list of strings where the list
determines a concrete priority over plugins which will be looped until data is
receivable.

qd.fetch("AAPL").tail()

Under some circumstances i.e. for arbitrage you actualy want the same symbols data
but from different providers. In this case you have to assign the plugin to the symbol

In [12]:
# TODO ...
# qd.fetch("AAPL|yahoo", "AAPL|investing").tail()

### Control how the DataFrame is organized
The `load` function accepts symbols as list or varargs. Once you pass more then one
symbol a `MultiIndex` column will be returned with each symbol as top level column.
Further more once can pass a nested list of symbols (like a 2D array). The data will
then be organized with `MultiIndex` for rows and columns.

NOTE For easy slicing `MultiIndex` columns the [pandas-ml-utils](https://github.com/KIC/pandas-ml-quant/tree/master/pandas-ml-utils)
library can be handy.

In [13]:
qd.fetch("AAPL", "MSFT").tail()
# which is equivalent to
# qd.load(["AAPL", "MSFT"]).tail()

              AAPL                                                 \
              Open    High     Low   Close       Volume Dividends
Date
2021-01-15  128.78  130.22  127.00  127.14  111598500.0       0.0
2021-01-19  127.78  128.71  126.94  127.83   90757300.0       0.0
2021-01-20  128.66  132.49  128.55  132.03  104319500.0       0.0
2021-01-21  133.80  139.67  133.59  136.87  120529500.0       0.0
2021-01-22  136.28  139.85  135.02  139.07  114459360.0       0.0

                           MSFT                                                \
           Stock Splits    Open    High     Low   Close      Volume Dividends
Date
2021-01-15          0.0  213.52  214.51  212.03  212.65  31746500.0       0.0
2021-01-19          0.0  213.75  216.98  212.63  216.44  30480900.0       0.0
2021-01-20          0.0  217.70  225.79  217.29  224.34  37777300.0       0.0
2021-01-21          0.0  224.70  226.30  222.42  224.97  30749600.0       0.0
2021-01-22          0.0  227.08  230.07  225.80  225.95  30172663.0       0.0


           Stock Splits
Date
2021-01-15          0.0
2021-01-19          0.0
2021-01-20          0.0
2021-01-21          0.0
2021-01-22          0.0

In [14]:
qd.fetch(["AAPL", "MSFT"], ["AL", "DAT"])

                          0                                              \
                       Open   High    Low  Close       Volume Dividends
          Date
AAPL/MSFT 1986-03-13   0.09   0.09   0.09   0.09  115964800.0       0.0
          1986-03-14   0.09   0.09   0.09   0.09  384854400.0       0.0
          1986-03-17   0.09   0.09   0.09   0.09  118720000.0       0.0
          1986-03-18   0.09   0.10   0.09   0.09  249356800.0       0.0
          1986-03-19   0.09   0.10   0.09   0.09  189884800.0       0.0
...                     ...    ...    ...    ...          ...       ...
AL/DAT    2021-01-15  44.99  45.04  43.10  43.28     708600.0       0.0
          2021-01-19  43.66  44.48  43.35  44.13     532200.0       0.0
          2021-01-20  44.49  45.23  44.30  44.66    1125400.0       0.0
          2021-01-21  44.71  44.77  42.91  43.17     636500.0       0.0
          2021-01-22  42.56  43.04  41.71  42.50     769597.0       0.0

                                          1                                \
                     Stock Splits      Open      High       Low     Close
          Date
AAPL/MSFT 1986-03-13          0.0      0.06      0.06      0.06      0.06
          1986-03-14          0.0      0.06      0.07      0.06      0.06
          1986-03-17          0.0      0.06      0.07      0.06      0.07
          1986-03-18          0.0      0.07      0.07      0.06      0.06
          1986-03-19          0.0      0.06      0.06      0.06      0.06
...                           ...       ...       ...       ...       ...
AL/DAT    2021-01-15          0.0  30000.00  30650.00  30000.00  30650.00
          2021-01-19          0.0  30000.00  30000.00  30000.00  30000.00
          2021-01-20          0.0  28100.00  29950.00  28100.00  29950.00
          2021-01-21          0.0  30000.00  30000.00  29900.00  29950.00
          2021-01-22          0.0  30000.00  30200.00  29900.00  29900.00


                            Volume Dividends Stock Splits
          Date
AAPL/MSFT 1986-03-13  1.031789e+09       0.0          0.0
          1986-03-14  3.081600e+08       0.0          0.0
          1986-03-17  1.331712e+08       0.0          0.0
          1986-03-18  6.776640e+07       0.0          0.0
          1986-03-19  4.789440e+07       0.0          0.0
...                            ...       ...          ...
AL/DAT    2021-01-15  2.000000e+02       0.0          0.0
          2021-01-19  5.000000e+01       0.0          0.0
          2021-01-20  4.000000e+01       0.0          0.0
          2021-01-21  5.000000e+01       0.0          0.0
          2021-01-22  1.400000e+02       0.0          0.0

[10095 rows x 14 columns]